<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="icon" href="#">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/SPA_Example.styles.css" asp-append-version="true" />
</head>
<body>
    @RenderBody()
</body>
</html>